.main-content{
    position:absolute;
    margin-left: 15%;
    height: auto;
    width: 800px;
}

.form-container {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.formulario{
    border: solid #ABB5BE 1.8px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #152536;
    padding: auto;
    margin-bottom: 3%;
}

span{
    font-weight: bold;
    font-size: 24px; 
    font-family: 'Inter', sans-serif;
    color: #DC3545;
    margin-left: 2px;
}
.asterisk{
    font-weight: bold;
    font-size: 24px; 
    font-family: 'Inter', sans-serif;
    color: #fff;
    margin-left: 2px;
}

.nav_registro_paciente{
    background-color: #AB296A;
    margin-bottom: 30px;
    height: 80px;
    filter: opacity(0.9);
}

.nav_registro_paciente::after {
    content: "";
    background-image: url('https://occidente.co/wp-content/uploads/2018/06/manos-union-amistad.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    filter: opacity(0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.nav_registro_paciente>h1{
    margin-top: 20px;
    text-align: center; 
    color: white;
    font-weight: bold;
    font-size: 36px; 
    font-family: 'Inter', sans-serif;
    z-index: 2;
}

div[name="row_form"]{
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 2%;

}

input[name="name"], input[name="age"], select[name="gender"]{
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: 1.8px solid #CED4DA;
    color: #6C757D;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding: 5px;
}

select[name="civil_status"], select[name="scholarship"], input[name="phone"]{
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: 1.8px solid #CED4DA;
    color: #6C757D;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding: 5px;
}

input[name="address"], input[name="religion"], input[name="job"]{
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: 1.8px solid #CED4DA;
    color: #6C757D;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding: 5px;
}

label[name="consulta"]{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
}
input[name="checkbox"]{
    margin-left: 25px;
}

.no-span{
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #152536;
}

input[name="time"], input[name="reason"]{
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: 1.8px solid #CED4DA;
    color: #6C757D;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding: 5px;
}

textarea{
    width: 100%;
    height: 180px;
    border-radius: 5px;
    border: 1.8px solid #CED4DA;
    color: #6C757D;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding: 5px;
}

select[name="service"], select[name="psychologist"]{
    width: 90%;
    height: 36px;
    border-radius: 5px;
    border: 1.8px solid #CED4DA;
    color: #6C757D;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding: 5px;
}

button[name="button-save"],button[name="button-reset"]{   
    width: 90px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-left: 15px;
}

.button-save{
    background-color: #28A745;
}

.button-save:hover{
    background-color: #228b3b;
}

.button-reset{
    background-color: #DC3545;
}

.button-reset:hover{
    background-color: #ba2433;
}