.navbar {
    position: relative;
    background-color: #AB296A;
    height: 80px;
    width: 100%;
    
    padding:10px;
    z-index: 0;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-logo>img{
    height:55px;
}

main{
  margin-top: 0;
}

#sidebar {
    position:absolute;
    left: 0;
    background-color: #DE5C9D;
    width: 19%;
    height: 100vh;
    color: white;
}

#sidebar .nav-item {
    padding-left: 3mm;
    padding-left: #AB296A;
}

#sidebar .nav-item.selected {
    border-left: solid #AB296A 10px;
    background-color: #D63384;
}

#perfil {
    top: 12%;
    height: 4cm;
    background-size: cover;
}
.top-perfil {
    background-color: #AB296A;
    height: 160px;
    background-position: center;
    background-size: cover;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 0;
    
  }
  
  .top-perfil::after {
    content: "";
    background-image: url('https://psipam.com/wp-content/uploads/2021/11/psicologo-ninos.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    filter: opacity(0.15);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
  
  .top-perfil > img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .top-perfil .cont-data {
    text-align: center;
  }
  
  .top-perfil .cont-data > a {
    font-size: 28px;
    color: white;
    font-weight: bold;
  }
  
  .top-perfil .cont-data > p {
    font-size: 20px;
    font-weight: 500;
  }

  .top-perfil .cont-data > p > img {
    height:20px;
    width:20px;
    margin-left: 5px;
  }

.nav-item {
    top: 12%;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 5mm;
    transition: backgroundcolor 0.3s;
}

.nav-item:hover{
    background-color: #D63384;
}

.nav-item.selected {
    background-color: #D63384;
}

.nav-item>.icon>img{
    height:30px;
    width:30px;
    
}
.nav-item>a{
    color:white;
    font-size:20px;
    text-decoration:none;
}
.nav-item>form>a{
  color:white;
  font-size:20px;
  text-decoration:none;
}

.active {
  border-left: solid #AB296A 10px;
  background-color: #D63384;
}

.main-content{
  position:absolute;
  margin-left: 21%;
  margin-top: 24px;
}